* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;
  --purple: #b259ff;
  --fuschia:#FF59F9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;
  --danger: #ff5959;
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* Fontes */
  --font-leckerlione: "Leckerli One", cursive;
  --font-baloo2: "Baloo 2", sans-serif;
  --font-opensans: "Open Sans", sans-serif;

  /* Tipografia */
  --text-logo-leckerlione: 400 40px/1.2 var(--font-leckerlione);

  --text-heading-md-baloo2: 700 28px/1.2 var(--font-baloo2);
  --text-heading-sm-baloo2: 700 18px/1.2 var(--font-baloo2);

  --text-body-md-opensans: 400 16px/1.5 var(--font-opensans);
  --text-body-sm-opensans: 400 14px/1.5 var(--font-opensans);
  --text-body-xs-opensans: 400 12px/1.5 var(--font-opensans);
}

fieldset {
  border: none;
}

input,
textarea {
  outline: none;

  &:focus {
    outline: 0.0625rem solid var(--brand-light);
  }
}
