input,
textarea {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);

  padding: 0.81rem 1rem;
  font: var(--text-body-md-opensans);
  color: var(--input-placeholder);
}
input{
    height: 3rem;
}
strong {
  font: var(--text-heading-md-baloo2);
  color: var(--text-heading);
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 3rem;
}
.icons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;

  legend {
    font: var(--text-heading-sm-baloo2);
    color: var(--text-heading);
  }
}

.input-wrapper {
    margin-top: 1rem;
    
  label {
    display: inline-block;
    font: var(--text-body-sm-opensans);
    color: var(--text-body);
    margin-bottom: 0.75rem;
    
  }
}

fieldset div:not(.input-wrapper, .segmented-control){
    display: flex;
    gap: 1rem;

    .input-wrapper {
       width: 50%;
    }


}

.segmented-control {
    position: relative;
    display: flex;
    padding: .25rem;
    background-color: var(--input-base);
    gap: .25rem;
    border-radius: .5rem;
    height: 3rem;
    z-index: 2;
     .indicator{
        position: absolute;
        height: calc(100% - .50rem);
        width: calc(50% - .25rem);
   
        top: 0.25rem;
        left: 0.25rem;
        background-color: var(--shape-button);
        border-radius:.3125rem ;
        z-index: -1;
        transition: 250ms;
    }

    &:has(label:first-child input:checked) .indicator{
        left: 0.25rem;
    }
 &:has(label:last-child input:checked) .indicator{
        left: 50%;
    }

    label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        margin-bottom: 0;
      
        svg {
            height: 1rem;
            width: 1rem;
            margin-right: .5rem;
            transition: 250ms;
            path {
                fill: var(--input-placeholder);
            }
        }
        
        input{
            all: unset;
        }

        span{
            font: var(--text-body-sm-opensans);
            color: var(--text-body);
            transition: 250ms;
        }
        &:has(input:checked) {
            svg path{
                fill: var(--brand-light);
            }
            span{
                color: var(--text-heading);
            }
        }
    }

   
}

