body {
  background: var(--shape-background);
}

#app {
  display: grid;
  grid-template-columns: 32% 68%;
  height: 100vh;
  gap: 0.875rem;
}
aside {
  display: flex;
  padding: 1.25rem 0 1.25rem 1.25rem;

  .banner {
    padding: 2rem;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/Background.png");
    border-radius: 0.75rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
    
  & .icon {
    width: 2.86rem;
    height: 3rem;
  }

  h1 {
    
    margin: 1rem 0 .25rem;
    font: var(--text-logo-leckerlione);
    color: var(--pink);
  }

  h2 {
    font: var(--text-body-md-opensans);
    color: var(--text-heading);
  }
}

main {
    padding: 1.25rem 1.25rem 1.25rem 0;
  overflow: auto;
  
  > div {
      padding: 5rem 8.125rem;
      background-color: var(--shape-button);
      border-radius: 0.75rem;
  }
}

    

